body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    margin: 0px;
    font-family: "roboto", sans-serif;
}

.header, .footer {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    padding: 8px;
    font-size: small;
    background-color: #415A77;
    color: #E0E1DD;
}

.headTitle, .foot {
    display: flex;
    color: #E0E1DD;
    font-size: 18px;
    flex-basis: 900px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-around;
}

.calco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #0D1B2A;
}

.calcMain {
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: #778DA9;
    background-color: #1B263B;
    border-radius: 20px;
    padding: 10px;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    font-size: xx-large;
    width: 310px;
    height: 80px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #1B263B;

}

.calcBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    height: 80px;
    width: 80px;
    border-style: solid;
    border-width: 5px;
    border-color: #1B263B;
    border-radius: 15px;
    font-size: large;
    font-weight: bold;
}

button:hover {
    color: hotpink;
}

#equals {
    width: 240px;
    background-color: #415A77;
    color: #E0E1DD;
}

#equals:hover {
    color: hotpink;
}

#decimal, #negative {
    background-color: #778DA9;
    color: #E0E1DD;
}

#decimal:hover, #negative:hover {
    background-color: #415A77;
    color: hotpink;
}

#plus, #minus, #multiply, #div {
    background-color: #415A77;
    color: #E0E1DD;
}

#plus:hover, #minus:hover, #multiply:hover, #div:hover {
    background-color: #1B263B;
    color: hotpink;
}

.printer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 510px;
    font-family: "Courier New";
    overflow: scroll;
    border-style: solid;
    border-width: 10px;
    border-color: #778DA9;
    background-color: #1B263B;
    color: #E0E1DD;
    border-radius: 20px;
    padding: 10px;
}
